/* Only the art plus buttons */

.artPiece {
    margin-top: 3rem;
}

.artPiece:first-child {
    margin-top: 3rem;
}

.artPiece:last-child {
    margin-bottom: 3rem;
}

.art {
    width: 51vw;
    height: 34vw;
    margin: 1rem auto 0 auto;
    position: relative;
}

.artPiece h2 {
    font-family:'Julius Sans One', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
    font-weight:  600;
    width: fit-content;
    margin: 0 auto;
    padding: 0.2rem 1rem;
    background-color: var(--bg-color);
}

.picture, 
.info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 400ms ease-in-out;
}

.picture {
    object-fit: cover;
}

.slideHidden {
    opacity: 0;
}

.slideButton {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: rgba(5, 8, 10, 0.2);
    border: none;
    z-index: 1;
    cursor: pointer;
}

.art i {
    font-size: 2rem;
    color: var(--bg-color);
    opacity: 0.6;
}

.slideButton:hover i{
    opacity: 0.9;
}

.slideButton:hover{
    background-color: rgba(5, 8, 10, 0.5);
}

.slideBack {
    left: 0.5rem;
}

.slideForward {
    right: 0.5rem;
}

.indicators {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 4rem;
    height: 0.9rem;
    padding: 0 0.3rem;
    background-color: rgba(5, 8, 10, 0.3);
    border-radius: 10% / 50%;
}

.indicator {
    background-color: var(--bg-color);
    opacity: 0.4;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    border: none;
    transition: all 300ms;
    cursor: pointer;
}

.indicatorActive {
    opacity: 0.9;
}

/* art info slide */
.info {
    height: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.notForSale {
    justify-content: space-around !important;
}

.textContainer {
    height: 30%;
    width: 100%;
    position: relative;
}

.text {
    width: calc(100% - 1.7rem);
    height: calc(100% - 1.7rem);
    background-color: var(--bg-color);
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    padding: 0.5rem;
    line-height: 1.2rem;
}

.data {
    width: calc(100% - 9rem);
    display: flex;
    height: 40%;
    justify-content: space-between;
}

.dataBit {
    width: 30%;
    height: 100%;
    position: relative;
    line-height: 1.2rem;
}

.dataBitText {
    width: calc(100% - 1.7rem);
    height: calc(100% - 1.7rem);
    background-color: var(--bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
}

.dataBitTitle {
    margin-bottom: 0.5rem;
    display: block;
    font-weight: 600;
}

.offerContainer {
    height: 20%;
    width: 100%;
    position: relative;
}

.offer {
    width: calc(100% - 0.7rem);
    height: calc(100% - 0.7rem);
    color: var(--text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color);
}

.offer:hover {
    cursor: pointer;
    width: calc(100% - 1.5rem);
    height: calc(100% - 1.5rem);
}

/* decoration */

.deco {
    width: 100vw;
    height: 100%;
    position: relative;
    top: 0;
    left: calc((100vw - 51vw) / 2 * -1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
}

.bannerLeft,
.bannerRight {
    width: calc((100vw - 51vw) / 2 - 0.7rem);
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner {
    height: 15%;
    width: 100%;
}

.light {
    background-color: var(--light-accent);
}

.medium {
    background-color: var(--main-accent);
}

.dark {
    background-color: var(--dark-accent);
}

.headingDeco {
    position: relative;
    height: 2.4rem;
    width: 100%;
    z-index: -1;
    top: 2rem;
}

.headingBanner {
    width: 100%;
    height: 45%;
}

.backgroundBanner {
    width: 100%;
    height: 10%;
    background-color: var(--bg-color);
}

.dataBitDeco {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.bigBanner {
    width: 100%;
    height: 48%;
    background-color: var(--main-accent);
}

.smallBanner {
    width: 100%;
    height: 4%;
    background-color: var(--bg-color);
}

.decoField {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bigBannerLight {
    width: 100%;
    height: 45%;
    background-color: var(--light-accent);
}

.smallBannerLight {
    width: 100%;
    height: 10%;
    background-color: var(--bg-color);
}

.offerDecoField {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bigBannerDark {
    width: 100%;
    height: 45%;
    background-color: var(--dark-accent);
}

.smallBannerDark {
    width: 100%;
    height: 10%;
    background-color: var(--bg-color);
}